<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>ClientId</key>
  <string>H1lgb5JC5pLuqTjNLY5U5P3duMiFul0I</string>
  <key>Domain</key>
  <string>rmaeda.au.auth0.com</string>
</dict>
</plist>
